<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <system.web>
    <!--  DYNAMISCHE DEBUGKOMPILIERUNG
          Setzen Sie compilation debug="true", um ASPX-Debuggen zu aktivieren.  False
          verbessert die Laufzeitleistung der Anwendung. 
          Setzen Sie compilation debug="true", um Debugsymbole (PDB-Informationen)
          in die kompilierte Seite einzufügen. Da hierdurch eine größere Datei erstellt wird,
          die langsamer ausgeführt wird, sollten Sie diesen Wert nur zum Debuggen auf True setzen und
          ansonsten auf False. Weitere Informationen finden Sie in der Dokumentation über
          das Debuggen von ASP.NET-Dateien.
    -->
    <compilation defaultLanguage="c#" debug="true" />
    <!--  BENUTZERDEFINIERTE FEHLERMELDUNGEN
          Legen Sie für customErrors mode="On" oder "RemoteOnly" fest, um benutzerdefinierte Fehlermeldungen zu aktivieren, oder "Off", um sie zu deaktivieren. 
          Fügen Sie für jeden Fehler, der behandelt werden soll, ein <error>-Tag hinzu.

          "On" Immer benutzerdefinierte Meldungen anzeigen.
          "Off" Immer detaillierte Informationen zu ASP.NET-Fehlern anzeigen.
          "RemoteOnly" Benutzerdefinierte Meldungen nur solchen Benutzern anzeigen, die nicht auf 
           dem lokalen Webserver aktiv sind. Diese Einstellung wird aus Sicherheitsgründen empfohlen, 
           um zu vermeiden, dass Anwendungsdetails Remoteclients gegenüber angezeigt werden.
    -->
    <customErrors mode="RemoteOnly" />
    <!--  AUTHENTIFIZIERUNG 
          Dieser Bereich legt die Authentifizierungsrichtlinien für die Anwendung fest. Mögliche Modi sind "Windows", 
          "Forms", "Passport" und "Keine"

          "Keine" Es wird keine Authentifizierung durchgeführt. 
          "Windows" IIS führt die Authentifizierung durch gemäß den 
           Einstellungen für die Anwendung (Basis-, Digest- oder integrierte Windows-Authentifizierung). Der anonyme Zugriff muss in IIS deaktiviert werden. 
          "Forms" Sie stellen ein benutzerdefiniertes Formular bereit (Webseite), in dem die Benutzer ihre Anmeldeinformationen eingeben. Anschließend 
           werden sie in der Anwendung authentifiziert. Ein Token für die Benutzeranmeldung wird in einem Cookie gespeichert.
          "Passport" Die Authentifizierung erfolgt durch einen zentralen Authentifizierungsdienst von 
           Microsoft, der eine einmalige Anmeldung und wichtige Profildienste für Mitgliedssites bietet.
    -->
    <authentication mode="Windows" />
    <!--  AUTORISIERUNG 
          Dieser Bereich legt die Autorisierungsrichtlinien der Anwendung fest. Sie können Zugriff auf
          Anwendungsressourcen pro Benutzer oder pro Rolle gewähren oder verweigern. Platzhalter: "*" bedeutet alle, "?" steht für anonyme 
          (nicht authentifizierte) Benutzer.
    -->
    <authorization>
      <allow users="*" />
      <!-- Alle Benutzer zulassen -->
      <!--  <allow     users="[kommabegrenzte Liste von Benutzern]"
                             roles="[kommabegrenzte Liste von Rollen]"/>
                  <deny      users="[kommabegrenzte Liste von Benutzern]"
                             roles="[kommabegrenzte Liste von Rollen]"/>
            -->
    </authorization>
    <!--  ABLAUFVERFOLGUNG AUF ANWENDUNGSEBENE
          Ablaufverfolgung auf Anwendungsebene aktiviert die Ablaufprotokollausgabe für jede Seite innerhalb der Anwendung. 
          Die Einstellung trace enabled="true" aktiviert die Ablaufverfolgung der Anwendung. Wenn pageOutput="true", werden
          Ablaufverfolgungsinformationen am Ende jeder Seite angezeigt. Andernfalls kann das 
          Ablaufverfolgungsprotokoll der Anwendung durch Browsen der Seite "trace.axd" vom Stamm der Webanwendung aus
          angezeigt werden. 
    -->
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  EINSTELLUNGEN FÜR SITZUNGSSTATUS
          Standardmäßig verwendet ASP.NET Cookies, um festzustellen, welche Anforderungen zu einer bestimmten Sitzung gehören. 
          Wenn keine Cookies verfügbar sind, kann eine Sitzung durch das Hinzufügen eines Sitzungsbezeichners zum URL nachverfolgt werden. 
          Die Einstellung sessionState cookieless="true" deaktiviert Cookies.
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <!--  GLOBALISIERUNG
          Dieser Bereich legt die Globalisierungseinstellungen der Anwendung fest. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <webServices>
      <soapExtensionTypes>
        <add type="Microsoft.Web.Services2.WebServicesExtension, Microsoft.Web.Services2, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="1" group="0" />
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <microsoft.web.services2>
    <diagnostics>
      <trace enabled="true" input="InputTrace.txt" output="OutputTrace.txt" />
      <detailedErrors enabled="true" />
      <policyTrace enabled="false" />
    </diagnostics>
    <security>
      <x509 allowTestRoot="true" allowRevocationUrlRetrieval="true" allowUrlRetrieval="true" storeLocation="LocalMachine" />
      <securityTokenManager type="WebService.CustomUsernameTokenManager, CustomUsernameTokenManager" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" qname="wsse:UsernameToken" />
    </security>
  </microsoft.web.services2>
</configuration>